@font-face {
  font-family: RighteousRegular;
  src: url("../font/Righteous-Regular.ttf");
}

header {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.logo {
  font-family: RighteousRegular, sans-serif;
  font-size: 50px;
}

.theme-label {
  padding: 10px;
}

.theme-select {
    padding: 3px;
    margin-left: 5px;
}

.btn {
  padding: 5px;
  height: 40px;
  color: #FCFCFC;
}

.btn-secondary {
  margin-right: 20px;
}

.modal-title {
  color: rgb(31, 31, 77);
}

.task-text {
  color: rgb(31, 31, 77);
  margin: 20px;
}

input {
  margin: 10px;
}

@media screen and (max-width: 640px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .logo {
    margin-right: 10px;
  }

  header .btn {
    margin: 10px 5px 0 0;
  }

  header select {
    margin-top: 10px;
  }
}

@media screen and (max-width: 549px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 10px;
  }

  header .btn {
    height: 30px;
    padding: 0 2px 0 2px;
    margin-top: 15px;
  }

  .logo {
    font-size: 25px;
    margin-top: 15px;
  }

}
