header {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.theme-label {
  padding: 10px;
}

.theme-select {
    padding: 3px;
    margin-left: 5px;
}

.btn {
  padding: 5px;
  height: 40px;
  color: #FCFCFC;
}

.btn-secondary {
  margin-right: 20px;
}

.modal-title {
  color: rgb(31, 31, 77);
}

.task-text {
  color: rgb(31, 31, 77);
  margin: 20px;
}

input {
  margin: 10px;
}