.task-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  margin-right: 20px;
  word-wrap: break-word;
  width: 20em;
  max-height: 12em;
}

.task-card h2 {
  text-align: center;
  margin-bottom: 20%;
}

.date-container {
  display: flex;
  justify-content: space-between;
}
