.task-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid white;
  border-radius: 15px;
  padding: 20px;
  margin: 50px 40px 50px 0;
  word-wrap: break-word;
  width: 25em;
  height: 20em;
  pointer-events: none;
}

.task-card h2 {
  text-align: center;
  margin-bottom: 20%;
}

.date-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 640px) {
  .task-card {
    height: 200px;
    width: 288px;
  }
  .date-container {
    display: flex;
    flex-direction: column;
  }
}
