.task-list {
  display: flex;
  justify-content: center;
  width: 70%;
  max-height: 60vh;
  margin: 10% auto 0 auto;
  cursor: grab;
  overflow: hidden;
}

.inner-carousel {
  display: flex;
}

@media screen and (max-width: 640px) {
  .task-list {
    margin: 3% auto 0 auto;
    width: 90%;
  }
  .date-container {
    display: flex;
    flex-direction: column;
  }
}